.img-top {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/img-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cust-fav {
    @include display-flex(row, space-around, flex-start);
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    h1 {
        flex-basis: 100%;
        margin: 30px 0;
        position: relative;
        text-transform: uppercase;

        &:after {
            content: '';
            width: 150px;
            height: 5px;
            position: absolute;
            bottom: -10px;
            left: calc(50% - 75px);
            background-color: black;
            border-radius: 35%;
        }
    }

    & div {
        flex-basis: 30%;
        // padding: 15px;
        @include display-flex(column, flex-start, center);

        & * {
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            border: 20px solid #d0c092;
            border-radius: 50%;
            box-sizing: border-box;
        }

        h4 {
            color: red;
        }

    }
}