* {
    margin: 0;
    padding: 0;
    font-family: arial, 'sans-serif';
}

body {
    overflow-X: hidden;
    box-sizing: border-box;
    min-height: 100vh;
}

.content {
    max-width: $max-width;
    margin: auto;
    position: relative;
}