nav {
    background-color: #fff;
    width: 100%;

    .showNav {
        right: 0% !important;
    }

    .wrapper {
        max-width: $max-width;
        width: 90%;
        // background-color: #ddd;
        margin: auto;
        transition: .5s;
        @include display-flex(row, flex-start, center);

        .logo {
            text-align: center;
            flex-basis: 10%;

            img {
                width: 60%;
            }
        }

        .menu {
            flex-grow: 1;

            ul {
                list-style: none;
                @include display-flex(row, center, center);

                li {
                    border-right: 1px solid black;

                    &:last-child {
                        border: none;
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #000;
                        font-weight: 700;
                        padding: 0 30px;
                    }
                }

            }
        }

        .menu-phone {
            text-align: center;
            flex-basis: 20%;

            a {
                text-decoration: none;
                color: #000;
                transition: .3s;

                &:hover {
                    color: royalblue;
                }
            }
        }
    }
}

// hamburger icon

.btn-hamburger {
    border: none;
    font-size: 24px;
    position: absolute;
    right: calc(0px + 24px);
    line-height: 8vh;
    background-color: transparent;
    cursor: pointer;
    color: red;
    display: none;
    transition: .5s;
}

.btn-hamburger_left {
    right: calc(0px + 24px + 20%);
}

@media (max-width: 992px) {
    nav {
        height: 8vh;

        .wrapper {
            width: 20%;
            height: 100vh;
            position: absolute;
            top: 0;
            right: -20%;
            @include display-flex(column, center, stretch);

            .menu {
                ul {
                    @include display-flex(column, space-around, center);
                    height: 100%;

                    li {
                        border-right: none;
                        width: 100%;
                        text-align: center;
                        transition: .5s;
                        border-radius: 0%;
                        @include display-flex(row, center, center);

                        &:hover {
                            background-color: royalblue;
                            border-radius: 50%;

                            a {
                                width: 40%;
                            }
                        }

                        a {
                            width: 30%;
                            padding: 20px 0;
                            border-bottom: 2px solid black;
                            transition: .5s;
                        }
                    }
                }
            }

            .menu-phone {
                @include display-flex(column, center, center);
            }
        }

        .btn-hamburger {
            display: block;
        }
    }
}