nav {
    background-color: #fff;
    width: 100%;

    .showNav {
        right: 0% !important;
    }

    .wrapper {
        max-width: $max-width;
        width: 90%;
        margin: auto;
        transition: .5s;
        @include display-flex(row, flex-start, center);

        .logo {
            text-align: center;
            flex-basis: 10%;

            img {
                width: 60%;
            }
        }

        .menu {
            flex-grow: 1;

            ul {
                list-style: none;
                @include display-flex(row, center, center);

                li {
                    border-right: 1px solid black;
                    position: relative;

                    &:last-child {
                        border: none;
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #000;
                        font-weight: 700;
                        padding: 0 30px;

                        i {
                            position: relative;

                            &:before {
                                position: absolute;
                                top: 0;
                                transform: translateY(-100%);
                            }
                        }
                    }

                    .menu-drop {
                        @include display-flex(row, flex-start, flex-start);
                        position: absolute;
                        text-align: center;
                        top: -400%;
                        opacity: 0;
                        z-index: -1;
                        left: 0;
                        transition: .5s;

                        a {
                            width: 150px;
                            padding: 0;

                            img {
                                width: 70%;
                            }
                        }
                    }

                    .menu-dropClic {
                        top: 100%;
                        opacity: 1;
                        z-index: 1;
                    }
                }

            }
        }

        .menu-phone {
            text-align: center;
            flex-basis: 20%;

            a {
                text-decoration: none;
                color: #000;
                transition: .3s;

                &:hover {
                    color: royalblue;
                }
            }
        }
    }
}

// hamburger icon

.btn-hamburger {
    border: none;
    font-size: 24px;
    position: absolute;
    right: calc(0px + 24px);
    line-height: 8vh;
    background-color: transparent;
    cursor: pointer;
    display: none;
    transition: .5s;
    color: red;

    i {
        transition: .5s;
    }
}

.btnHamIcon {
    color: black;
}

.btn-hamburger_left {
    right: calc(0px + 24px + 20%);
}

@media (max-width: 992px) {
    nav {
        height: 8vh;

        .wrapper {
            width: 20%;
            height: 100vh;
            position: absolute;
            top: 0;
            right: -20%;
            @include display-flex(column, center, stretch);

            .menu {
                position: relative;

                ul {
                    @include display-flex(column, space-around, center);
                    height: 100%;

                    li {
                        border-right: none;
                        width: 100%;
                        text-align: center;
                        transition: .5s;
                        border-radius: 0%;
                        @include display-flex(row, center, center);

                        &:hover {
                            background-color: royalblue;
                            border-radius: 50%;
                        }

                        a {
                            padding: 20px 0;
                            border-bottom: 2px solid black;
                            transition: .5s;
                        }

                        .menu-drop {
                            @include display-flex(row, flex-start, flex-start);
                            flex-wrap: wrap;
                            position: absolute;
                            text-align: center;
                            top: 0;
                            left: 500%;
                            opacity: 0;
                            z-index: -1;
                            transition: .5s;

                            a {
                                width: 150px;
                                padding: 0;

                                img {
                                    width: 70%;
                                }
                            }
                        }

                        .menu-dropClic {
                            position: absolute;
                            top: 0;
                            left: -100%;
                            width: 150px;
                            opacity: 1;
                            z-index: 1;
                        }
                    }
                }
            }

            .menu-phone {
                @include display-flex(column, center, center);
            }
        }

        .btn-hamburger {
            display: block;
        }
    }
}